<div class="gallery-teaser">
  <a href="{{ item.url }}">
    {% assign imgsplit = item.data.image | split: '/' %}
    <img
      src="{{ item.data.image}}"
      alt="{{ item.data.title }}"
      class="mb-2 full border border-[#000]"></a>
  <h4 class="text-bold hover:underline">
    <a href="{{ item.url }}">{{ item.data.title }}</a>
  </h4>
</div>