<div class="border border-[#000] flex shadow-line bg-white">		
	<div class="p-4 lg:p-6 border-r border-[#000] flex-none ease-in-out duration-200">
		<a href="{{ item.url }}">
		{% assign imgsplit = item.data.image | split: '/' %}
		<img
			src="{{ item.data.logo}}"
			alt="{{ item.data.title }}"
			class="w-20 lg:w-24 ease-in-out duration-200 border border-[#000]">
		</a>
	</div>
	<div class="w-full"> 
		<div class="p-4 lg:p-6 border-b border-[#000] w-full">
			<h3 class="text-xl lg:text-2xl mb-2 hover:underline font-bold">
				<a href="{{ item.url }}" class="hover:underline">{{ item.data.title }}</a></h3>
			<p class="text-[#000] text-sm">{{ item.data.description }}</p>
		</div>
		<div class="p-4">
			{% include 'tags' %}
		</div>
	</div>
</div>